{% extends "base.html" %}

{% block content %}
  <h1>Admin Dashboard</h1>

  <h2>Dashboard Statistics</h2>
  <p>Total Events: {{ events.count }}</p>
  <p>Total Users: {{ users.count }}</p>
  <form method="get" action="{% url 'admin_dashboard' %}">
  <input type="text" name="search" placeholder="Search" value="{{ search_query }}">
  <input type="submit" value="Search">

  </form>

  <h2>Users</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>

      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <h2>Events</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for event in events %}
      <tr>
        <td>{{ event.id }}</td>
        <td>{{ event.title }}</td>
        <td>
          <a href="{% url 'edit_event' event.id %}">Edit</a>
          <a href="{% url 'delete_event' event.id %}">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
